footer.container-fluid.text-center(style="background-color:#000000;")
  p &copy; 2017 Manuel ADELE - license: <strong>MIT</strong> - powered By: 
    img(src="/images/powered01.gif" width="30px" height="26px")
    img(src="/images/powered02.png" width="70px" height="50px")
    img(src="/images/powered03.png" width="70px" height="40px")
    img(src="/images/powered04.png" width="70px" height="50px")
    img(src="/images/powered05.png" width="50px" height="30px")
    
    