extends layout

block content
    .page-header
        h1 proZe GalaJSy
        h2 The social network for developpers fullstack javascript!
        h3 what's else?
        h4 Direct live learning, improving, sharing and flying in the galaJSy code